<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <h1><%= wikiMarkdown.title %></h1>

        <% if(currentUser) { %>
        <a href="/wikis/<%= wikiMarkdown.id %>/edit" class="btn btn-warning">Edit</a>
        <% if(currentUser && (currentUser.id == wikiMarkdown.userId || currentUser.isAdmin())) { %>
        <form style="display:initial" action="/wikis/<%= wikiMarkdown.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
        <% } %>

        <% if (wikiMarkdown.private) { %>
        <% if (currentUser && (currentUser.isAdmin() || currentUser.isPremium() )) { %>
        <form style="display:initial" action="/wikis/<%= wikiMarkdown.id %>/updatePublic" method="post">
            <button type="submit" class="btn btn-primary btn-sm"> Change to Public </button>
        </form>

        <% } else { %>
        <% if (currentUser && (currentUser.isAdmin() || currentUser.isPremium() )) { %>
        <form style="display:initial" action="/wikis/<%= wikiMarkdown.id %>/updatePrivate" method="post">
            <button type="submit" class="btn btn-primary btn-sm"> Change to Private </button>
        </form>
        <% } %>
        <% } %>
        <% } %>


        <p><%= wikiMarkdown.body %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>